:host {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: .5em;
  height: 100%;
  width: fit-content;
  transition: width 200ms ease;
  overflow: hidden;
}