:host {
  background-color: #000;
  border-radius: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.numbers-container {
  background-color: #fff;
  box-sizing: border-box;
  height: calc(100% - 8%);
  width: calc(100% - 8%);
  border-radius: 10%;
  aspect-ratio: 4/5;
  overflow: hidden;
}

.numbers-container .number-wrapper {
  width: 100%;
  min-height: 100%;
}

.numbers-container svg {
  width: 100%;
  min-height: 100%;
}

.numbers-container .numbers-column {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  /* ADD 100 MORE TRANSLATION TO GET TO NEXT NUMBER */
  transform: translateY(100%);
  overflow: visible;
  transition: all 600ms ease;
}